<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Reportes.Properties.Settings.SIVS_BDConnectionString" connectionString="Data Source=TRESALEGRESTIGR\EASYSOFT;Initial Catalog=SIVS_BD;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
